.btn{
  --bg: rgba(41, 98, 255, 1);
  --clr: #fff;
  --outline: none;
  --bg-over: rgba(0, 57, 203, 1);
  --clr-over: var(--clr);
  --scale: scale(1);
  
  padding: .2em 1em;
  width: max-content;
  word-spacing: .5em;
  margin: .5em 1em;
  border-radius: 5px;

  background-color: var(--bg);
  color: var(--clr);
  outline: var(--outline);
  transform: var(--scale);
}
.btn:hover, .btn:focus{
  cursor: pointer;
  background-color: var(--bg-over);
  color: var(--clr-over);
}
